:root {
    --main_color: #034F84;
    --secondary_color: #fff;
}
@font-face {
    font-family: California;
    src: url(monofonto.ttf);
}


html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    overflow: hidden;
    color: white;
}

#time {
    color: white;
    font-size: 12em;
    font-family: 'California';
}

body {

}
.background1 {
    position:fixed;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    opacity: 1;
    width:100vw;
    height:100vh;
    transition: 1s ease;
}
.background2 {
    position:fixed;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    opacity: 0;
    width:100vw;
    height:100vh;
    transition: 1s ease;
}

.container {
    padding: 30px;
}

.row {
    text-align: center;
    width: 100%;
}

.clock_container {
    position: relative;
    height: 100vh;
}


/* FULLSCREEN */

:-webkit-full-screen .button_fullscreen {
    visibility: hidden;
    /* properties */
}

:-moz-full-screen .button_fullscreen {
    visibility: hidden;
    /* properties */
}

:-ms-fullscreen .button_fullscreen {
    visibility: hidden;
    /* properties */
}

:full-screen .button_fullscreen {
    /*pre-spec */
    visibility: hidden;
    /* properties */
}

:fullscreen .button_fullscreen {
    /* spec */
    visibility: hidden;
    /* properties */
}


/* FORM STYLE */

.colordisplay {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 3px;
    margin-left: 3px;
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}
.colordisplay:last-child {
}

.color1 {
    background-color: #FAE03C;
}

.color2 {
    background-color: #034F84;
}

input.seethrough_form {
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
}

input.seethrough_form:focus {
    outline-color: rgba(1,1,1,0);
}
label>input {
    /* HIDE RADIO */
    visibility: hidden;
    /* Makes input not-clickable */
    position: absolute;
    /* Remove input from document flow */
}

label>input+.colordisplay {
    /* IMAGE STYLES */
    cursor: pointer;
    border: 3px solid white;
}

label>input:checked+.colordisplay {
    /* (RADIO CHECKED) IMAGE STYLES */
    transition: ease-in-out 1s;
    box-shadow: 0px 2px 8px black;
}

input.seethrough_form::-webkit-input-placeholder {
    /* Chrome */
    color: white;
}

input.seethrough_form:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

input.seethrough_form::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
    opacity: 1;
}

input.seethrough_form:-moz-placeholder {
    /* Firefox 4 - 18 */
    color: white;
    opacity: 1;
}

.maincontent {
    margin-top: -50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
}

.col_50 {
    margin-top: 5px;
    width: 20%;
}
.col_100 {
    margin-top: 5px;
    width: 40%;
}
.buttons {
    margin-top: 5px;
}

.button {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    border: 3px solid white;
    /*  box-shadow: 0px 1px 3px black; */
    background: transparent;
    transition: 0.3s ease;
    overflow: hidden;
    color: white;
    position: relative;
}

.button:focus {
    outline: none;
}

.button:hover {
    color: black;
}

.button::after {
    background-color: white;
    z-index: -1;
}

.button:hover::after {
    width: 120%;
    height: 4000%;
    opacity: 1;
}

.button::after {
    content: "";
    position: absolute;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    height: 0;
    width: 0;
    opacity: 0;
}

.button_fullscreen {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: X(-50%);
}

/*
BACKGROUND IMAGE!
*/

img.bg {
  transition: all 0.9s ease-out;
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


form {
    width: 100%;
}

#player {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: 1s ease;
    visibility: hidden;
}
.specialOptions {
    height: 0px;
    overflow: hidden;
    transition: 0.3s ease;
}

.specialButton {
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 5px;
    border-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 0.8em;
    border: 3px solid white;
    /*  box-shadow: 0px 1px 3px black; */
    background: transparent;
    transition: 0.3s ease;
    overflow: hidden;
    color: white;
    position: relative;
}

.specialButton:focus {
    outline: none;
}

.specialButton:hover {
    color: black;
}

.specialButton::after {
    background-color: white;
    z-index: -1;
}

.specialButton:hover::after {
    width: 120%;
    height: 4000%;
    opacity: 1;
}

.specialButton::after {
    content: "";
    position: absolute;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    height: 0;
    width: 0;
    opacity: 0;
}

#info {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
#infoButton {
    float: right;
}
.informationBox {
    height: 0px;
    border-radius: 5px;
    color: white;
    margin-bottom: 5px;
    overflow-y: hidden;
    transition: 0.3s ease;
    text-align: right;
}
a {
    text-decoration: none;
    color: coral;
}
a:hover {
    color: chocolate;
    transition: 0.3s ease;
    text-decoration: underline;
}